* {
	margin: 0;  /* bij een margin verplaats je dingen meestal. Stel je hebt een vierkant op je scherm en die wil je naar rechts verschuiven.*/ 
	padding: 0;  /*bij een padding zorg je er voor dat het element (vierkant) groter of dikker wordt. */ 
	}

body {
	background-image: url('../images/leafes-background.jpg');
	position: relative;
	width: 100%;
	height: 100%;
 	background-color: #fff;
 	z-index: -1;
 	background-size: cover;

}

.bg-img {
	background-image:
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	z-index: -1;

}


.header {
	min-height: 20px;
	width: 980px;
	overflow: hidden;
	background-color: white;
	margin: 0 auto; /* je kan ook margin-left: auto; en margin-right: auto;*/
	font-family: Helvetica Neue, sans-serif;
	font-size: 90%;
	opacity:0.9;

}

.logo {
	display: block;
	padding: 10px;
	text-align: center;

 
}

.banner{
	overflow: hidden;
	width: 980px;
	margin: 0 auto;
	z-index: -1;

}
.banner img{
	width: 100%;
	height: auto;
}
.nav-main {
	/*
	overflow: hidden;
	float: right;
	text-align: center;
	text-transform: uppercase;
	background-color: darkgreen;
	padding-top: 5px;
	padding-bottom: 5px;

*/

    display: block;
    width: 100%;
    overflow: hidden;
}




.nav-main ul {
	display: block;
    margin: 20px 0 20px 0;
    padding: .7em;
    float: left;
    list-style: none;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: .5em;    
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
    width: 960px;
}

.nav-main ul li {
	display: block;
	float: left;
}

.nav-main ul li a {
	/*
	display: block;
	text-decoration: none; 
	color: #B8B8B8;
	padding: 10px 30px; 
	margin: 0 auto;
	*/

	float:left;
    padding: .8em 1.5em;
    text-decoration: none;
    color: #555;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: #fff #ccc #999 #eee;
    background: #c1c1c1;
    background: linear-gradient(#f5f5f5, #c1c1c1);  
}

nav a:hover, nav a:focus {
    outline: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background: #fac754;
    background: linear-gradient(#fac754, #f8ac00);
}

nav a:active {
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
 
nav li:first-child a {
    border-left: 0;
    border-radius: 4px 0 0 4px;            
}

nav li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;            
}

.main {
	min-height: 400px;
	width: 980px;
	overflow: hidden;
	background-color: #F0F0F0;
	margin: 0 auto;
	opacity:0.6;  /*zorgt voor transparantie!*/
	font-family: Helvetica Neue, sans-serif;
	font-size: 100%;




}

.article {
	color: #3D454E;
	/*font-family: Helvetica Neue, sans-serif;*/
	font-size: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    padding-top: 10px;
    margin-right: 220px;
    float: left;
    width: 780px;

}

.aside {
	float: right;
	width: 200px;
	margin-left: 20px;
	padding-top: 0 auto;


}

.footer {
	min-height: 100px;
	width: 980px;
	overflow: hidden;
	background-color: #A8A8A8;
	margin: 0 auto;
	padding: 0 auto;
	opacity:0.8;
	font-family: Helvetica Neue, sans-serif;
	font-size: 100%;
	text-align: center;
	padding-top: 10px;
}